---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

I enjoy problems that lie at the intersection of computational complexity, combinatorics, geometry, and algorithms. My work so far has explored ideas ranging from online algorithms to topological data analysis, and more recently, computational complexity and learning theory.

If you would like to read any of these papers, feel free to reach out—I am always happy to chat about them.

{% if site.author.googlescholar %}
You can also find my publications on [Google Scholar]({{ site.author.googlescholar }}).
{% endif %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
## {{ category[1].title }}

---

        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% endif %}
