---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% assign talks_sorted = site.talks | sort: "date" | reverse %}

<h2>Seminar Talk</h2>
<hr />

{% for post in talks_sorted %}
  {% if post.format == "seminar" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Short Presentations and Posters</h2>
<hr />

{% for post in talks_sorted %}
  {% if post.format == "short" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
