---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

One of the unexpected joys of graduate school has been teaching.

I enjoy working through ideas with students, especially when a conversation helps transform something that initially feels mysterious into something intuitive. Whether in tutorials, office hours, or one-on-one discussions, teaching has reminded me that mathematics is often best learned together.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
