---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<p>
During my time at McGill and IIT Delhi, I have had the opportunity to work as a teaching assistant for undergraduate courses in algorithms and optimization. Teaching has been one of the most rewarding parts of graduate school, and I particularly enjoy helping students build intuition through discussion and problem solving.
</p>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
